*{
    box-sizing: border-box;
}

/* Element Selector */
body{
    background: #201658;
    margin: 0;
    padding: 0;
    display: inline-block;
    font: small;
    color: white;
}

/* Media Query */

/* tablet layout yang ditampilkan 2 kolom */
@media screen and (min-width : 600px) {
    body {
        background-color: yellow;
    }

    .col-sm-6{
        width: 50%;
        float: left;
    }

    .col-sm-12{
        width: 100%;
    }
}


/* Desktop  : layout yang dtimapilkan 4 kolom */
@media screen and (min-width : 992px) {
    body{
        background-color: green;
    }

    .col-lg-3{
        width: 25%;
        float: left;
    }   

    .col-lg-2{
        width: 50%;
        float: left;
    }

    
    .col-sm-4 {
        width: 33.33%;
        float: left;
    }
}



/* Class Selector */
.text-primary {
    color: #179e56;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-50 {
    width: 50%;
    float: left;
}

.img-responsive {
    width: 100%;
    max-height: 600px;
}

.circle {
    border-radius: 50px;
}

.rounded {
    border-radius: 20px;
}

.p-1{
    padding: 10px;
}

.setting-gisel{
    width: 100%;
    height: 80%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}